/.idea/
/.phpunit.result.cache
/bin/composer
/bin/jp.php
/bin/jsonlint
/bin/pdepend
/bin/phing
/bin/php-parse
/bin/phpcpd
/bin/phploc
/bin/phpmd
/bin/phpstan
/bin/phpstan.phar
/bin/phpunit
/bin/stratum
/bin/yaml-lint
/composer.lock
/doc/
/test/coverage.xml
/test/report/
/vendor/
